<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Okan ALAN Personal Blog">
    <meta name="description" content="used https://github.com/PurePelicanTheme/pure">

    <link rel="stylesheet" href="css/pure.css">
    <link rel="stylesheet" href="css/pygments.css">

    <script src="./js/magic.js"></script>

    <title>Okan ALAN</title>

</head>

<body>

    <div class="pure-g-r" id="layout">

        <!-- Index Page Left Sidebar Begin -->
        <div class="sidebar sidebar-article pure-u">
            <header class="header-article">
                <hgroup>
                    <a href="https://haaatoka.github.io/author.html" title="See posts by HaaaToka">
                            <img class="avatar" alt="HaaaToka" src="https://avatars.githubusercontent.com/u/27926328?v=4">
                    </a>
                    <h2 class="article-info">HaaaToka</h2>
                    <small class="about-author"></small>
                    <h5>Published</h5>
                    <p>{{DATE}}</p>
                    <a href="/">&larr;Home</a>
                </hgroup>
            </header>
        </div>
        <!-- Index Page Left Sidebar End -->

        <!-- POST -->
        <div class="pure-u">
            <div class="content">
                <section class="post">
                    <header class="post-header">
                        <h1>{{ article.title }}</h1>
                            <p class="post-meta">
                                // under {% for tag in article.tags %}
                                    <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                                {% endfor %}
                            </p>
                    </header>
                </section>
                {{ article.content }}
                <div class="hr"></div>
                <a href="#" class="go-top">Go Top</a>
            </div>

            <footer class="footer">
                <p>
                    Built with <a href="https://github.com/PurePelicanTheme/pure">Pure Theme</a>
                </p>
            </footer>
            
        </div>
        <!-- /POST -->
    </div>

    

</body>

</html>